<?xml version="1.0"?>

<model>
  <name>Pool Worlds</name>
  <version>1.0</version>
  <sdf version='1.5'>pool.sdf</sdf>

  <author>
    <name>Michael Equi</name>
    <email>equim20@student.jhs.net</email>
  </author>

  <description>
    A simple swimming pool gazebo worlds for the ROV simulation.
  </description>
</model>
