<?xml version="1.0"?>

<model>
  <name>Trout Reef Model</name>
  <version>1.0</version>
  <sdf version='1.5'>trout_reef.sdf</sdf>

  <author>
    <name>Michael Equi</name>
    <email>equim20@student.jhs.net</email>
  </author>

  <description>
    The 2019 MATE trout_reef prop. 
  </description>
</model>
