<?xml version="1.0"?>

<model>
  <name>Dam Model</name>
  <version>1.0</version>
  <sdf version='1.5'>dam.sdf</sdf>

  <author>
    <name>Michael Equi</name>
    <email>equim20@student.jhs.net</email>
  </author>

  <description>
    The 2019 MATE dam prop. Includes transect line, crack, and grid sections.
  </description>
</model>
