<launch>
 <!-- drq diagnostic -->
   <node pkg="drq_ros" type="drq1250_ros.py" name="drq_ros1" args="0x08"/>
   <node pkg="drq_ros" type="drq1250_ros.py" name="drq_ros2" args="0x0a"/>
 
 <!-- depth sensor -->
   <node pkg="depth_sensor" type="depth_sensor.py" name="depth_sensor"/>
 
 <!-- gpio control -->
   <node pkg="gpio_control" type="gpio_control.py" name="gpio_control"/>
 
 <!-- thruster interface -->
   <node pkg="thrusters" type="thrusterInterface.py" name="thruster_interface"/>
</launch>
