<launch>

 <!-- horizontal vector drive node -->
   <node pkg="vector_drive" type="horiz_drive" name="horiz_drive"/>

 <!-- vertical vector drive node -->
    <node pkg="vector_drive" type="vert_drive" name="vert_drive"/>

 <!-- harware interface -->
   <node respawn="true" pkg="hardware_interface" type="hw_thruster_controller_interface.py" name="hw_thruster_controller_interface">
      <param name="thrusterControllerPort" type="string" value="/dev/serial/by-id/usb-1a86_USB2.0-Serial-if00-port0"/>
   </node>

 <!-- start reading sensor data from DRQ1250s -->
 <!-- respawn setup to restart the node every 30 seconds if it dies-->
 <node pkg="drq1250" type="drq1250_ros.py" name="drq1250" args="0x08" respawn="true" respawn_delay="30" ns="rov/drq1250_1"/>
 <node pkg="drq1250" type="drq1250_ros.py" name="drq1250" args="0x0A" respawn="true" respawn_delay="30" ns="rov/drq1250_2"/>

 <!-- start reading the depth sensor -->
 <!-- respawn setup to restart the node every 30 seconds if it dies-->
 <node pkg="ms5837" name="depth_sensor" type="ms5837_ros.py" respawn="true" respawn_delay="30"/>

 <!-- launch all the sensors -->
 <!-- respawn setup to restart the node every 30 seconds if it dies-->
 <!-- <node type="sensor-hat.py" pkg="sensor_readout" name="sensor_interface" respawn="true" respawn_delay="30"/> -->

 <node type="bno055_ros.py" pkg="bno055" name="imu" respawn="true" respawn_delay="30"/>
 <node type="bmp280_ros.py" pkg="bmp280" name="bmp280" respawn_delay="30"/>
 <!-- <node type="sht31_ros.py" pkg="sht31" name="sht31"/> -->

  <!-- Run realsense T265 on bottomside -->
<!--  <include file="$(find realsense2_camera)/launch/rs_t265.launch"> -->
<!--       <arg name="device_type"         value="t265"/> -->
<!--       <arg name="camera"              value="t265"/> -->
<!--       <arg name="tf_prefix"           value="rov/$(arg camera)"/> -->

<!--       <arg name="enable_fisheye1"     value="true"/> -->
<!--       <arg name="enable_fisheye2"     value="true"/> -->

<!--       <arg name="unite_imu_method"    value="linear_interpolation"/> -->
<!--  </include> -->


</launch>
