<launch>
<!-- ROV topside control interface -->
   <include file="$(find rov_control_interface)/launch/control_interface.launch"/>

 <!-- temp copilot interface -->
   <!-- node pkg="rqt_reconfigure" type="rqt_reconfigure" name="copilot_interface"/-->

 <!-- temp pilot interface -->
    <!-- <node pkg="rqt_image_view" type="rqt_image_view" name="pilot_interface"/> -->

 <!-- tcu board -->
    <node pkg="rosserial_python" type="serial_node.py" name="tcu_board">
        <param name="port" value="/dev/ttyACM0"/>
     </node>

 <!-- Shape Detection -->
     <node pkg="shape_detection" type="shape_detect.py" name="shape_detect">
     </node>

     <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
     
 <!-- axis ip video to ros image -->
     <include file="$(find video_stream_opencv)/launch/camera.launch" >
        <arg name="camera_name" value="rov" />
        <arg name="video_stream_provider" value="rtsp://root:jhsrobo@192.168.1.201/axis-media/media.amp" />
      </include>

</launch>

