<launch>
    <!-- ROV topside control interface -->
    <include file="$(find rov_control_interface)/launch/control_interface.launch"/>

    <!-- temp copilot interface -->
   <!-- node pkg="rqt_reconfigure" type="rqt_reconfigure" name="copilot_interface"/-->

    <!-- temp pilot interface -->
    <!-- <node pkg="rqt_image_view" type="rqt_image_view" name="pilot_interface"/> -->

    <!-- tcu board -->
    <node pkg="rosserial_python" type="serial_node.py" name="tcu_board">
        <param name="port" value="/dev/ttyACM0"/>
    </node>
   
    <!-- ROS WebBridge -->
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
     
    <!-- camera_viewer -->
    <node pkg="camera_viewer" type="switcher.py" name="camera_viewer"/>
  
    <!-- depth hold -->
    <include file="$(find depth_hold)/launch/depth_hold.launch"/>

    <!-- Run realsense T265 on topside -->
    <include file="$(find rov_localization)/launch/rov_realsense.launch"/>

    <!-- Run localization EKF -->
    <include file="$(find rov_localization)/launch/rov_localization.launch">
        <arg name="display" value="true"/>
    </include>



</launch>

