<?xml version="1.0"?>
<robot name="rov" xmlns:xacro="http://www.ros.org/wiki/xacro" >
  <xacro:arg name="debug" default="0"/>
  <xacro:arg name="namespace" default="rov"/>
  <xacro:arg name="inertial_reference_frame" default="world"/>
  <!-- Include the ROV macro file -->
  <xacro:include filename="$(find rov_description)/urdf/rov_base.xacro"/>
  <xacro:include filename="$(find rov_description)/urdf/rov.gazebo.xacro"/>

  <!-- Create the rov -->
  <xacro:rov_base
    namespace="$(arg namespace)"
    inertial_reference_frame="$(arg inertial_reference_frame)">
    <!-- The underwater object plugin is given as an input block parameter to
     allow the addition of external models of manipulator units -->
    <gazebo>
      <plugin name="uuv_plugin" filename="libuuv_underwater_object_ros_plugin.so">
        <fluid_density>1000.0</fluid_density>
        <flow_velocity_topic>hydrodynamics/current_velocity</flow_velocity_topic>
        <debug>$(arg debug)</debug>
        <!-- Adding the hydrodynamic and hydrostatic parameters for the vehicle-->
        <xacro:rov_hydro_model namespace="$(arg namespace)"/>
      </plugin>
    </gazebo>
  </xacro:rov_base>


  <!-- setup base links -->
  <link name="${namespace}/frame_link"/>
  <joint name="${namespace}/base_frame_joint" type="fixed">
    <parent link="${namespace}/base_link"/>
    <child link="${namespace}/frame_link"/>
    <origin xyz="0 0.0373 -0.15585" rpy="0 0 0"/>
  </joint>

  <!-- Joint state publisher plugin -->
  <xacro:default_joint_state_publisher namespace="$(arg namespace)" update_rate="50"/>
</robot>
