<?xml version="1.0"?>

<model>
  <name>Benthic Species Model</name>
  <version>1.0</version>
  <sdf version='1.5'>benthic_species.sdf</sdf>

  <author>
    <name>Michael Equi</name>
    <email>equim20@student.jhs.net</email>
  </author>

  <description>
    The 2019 MATE benthic species prop.
  </description>
</model>
